body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.go_main {
  display: block;
  padding: 20px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #2d4af1;
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 22px;
  color: white;
  cursor: pointer;
  transition: 300ms all;
  width: 300px;
}

.go_main:hover {
  background-color: #172fbb;
  font-size: 25px;
}

.close {
  display: block;
}

.not {
  display: block;
}

.close-button {
  display: none;
}

.menu-buttons .nav{
  display: none;
}

@media (max-width: 768px) {
  .menu-buttons .nav{
    margin-top: 50px;
    display: block;
    text-align: center;
    text-decoration: none;
  }

  .menu-buttons .nav a{
    display: block;
    margin-top: 30px;
    margin-right: 30px;
    font-size: 20px;
    color: #172fbb;
    text-decoration: none;
  }

  .not {
    display: none;
  }

  .close {
    display: none;
  }

  .go_main {
    display: none;
  }

  .close-button {
    display: block;
    margin-left: 40px;
    margin-top: 40px;
    background: none;
    font-size: 15px;
    border: none;
  }
}
